* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background: #fff;
}
a {
    text-decoration: none
}
.row {
    margin-right: -15px;
}
.bg-white {
    background: white;
}
.bg-gray {
    background: #F5F5F5;
}
.bg-orange {
    border: 1px solid #ff9200;
    background-color:#ff9200;
}
.bg-orange:hover {
    border-color: #f5ae1f;
    background-color: #f5ae1f;
}
.bg-blue {
    border: 1px solid #5ac1e7;
    background-color: #5ac1e7;
}
.bg-blue:hover {
    border-color: #71d8f4;
    background-color: #71d8f4;
}
.bg-sea {
    border: 1px solid #9bcd9b;
    background-color: #9bcd9b;
}
.bg-sea:hover {
    border-color: #b4eeb4;
    background-color: #b4eeb4;
}
.bg-slate {
    border: 1px solid #CDB38B;
    background-color: #CDB38B;
}
.bg-slate:hover {
    border-color: #EECFA1;
    background-color: #EECFA1;
}
.text-orange {
    color: #ff9200;
}
.text-blue {
    color: #5ac1e7;
}
.home {
    padding-top: 0;
}
    .home #header {
        background-color: transparent;
    }

    .home #header .logo {
        float:left;
    }
.scrolling {
    background-color: #3399CC !important;
}
.scrolling a {
    color: #fff !important;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 0;
    border-bottom:  1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.15);
}
    #header .logo {
        padding: 15px 0;
        position: relative;
        z-index: 1;
    }
        .logo a {
            display: inline-block;
            font-size: 40px;
            color: #ccc;
        }
        .logo a:hover {
            color: #0098d1;
        }

        .header-right {
            float: right;
        }
            .header-right .menu {
                display: inline-block;
                float: right;
                margin-right: 150px;
                margin-top: 3px;
            }
            .header-right .menu li {
                list-style: none;
                float: left;
                border-radius: 20px;
                margin: 10px 20px ;
            }
            .header-right .menu li a {
                color: #fff ;
                display: block;
                font-size: 15px;
                font-weight: 700;
                line-height: 40px;
                padding: 10px 18px;
            }
            .float-right {
                float: right;
                display: inline-block;
                padding: 29px 0;
                }
                .float-right a {
                    color: #ccc;
                }
                .float-right a:hover {
                    color: #0098d1;
                }
                .float-right img {
                    width: 30px;
                }
                .float-right li {
                    list-style: none;
                    float: left;
                    margin-left: 5px;
                }
#header a:hover {
    text-decoration: none;
}


.box1 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
}
    .entry-content {
        margin: 0;
    }
    .video {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
        .video-movie {
            position: fixed;
            left: 0;
            top: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -2;
            display: block;
            max-width: 1000%;
        }
        .wrapper {
            position: relative;
            height: 100%;
            box-sizing: border-box;
            width: 1170px;
            margin: 0 auto;
        }
        .block {
            position: absolute;
            left: 0;
            top: 500px;
            color: #fff;
            text-align: center;

        }
            .block p.content {
                font-size: 20px;
                line-height: 40px;
                font-weight: 200px;
                margin: 0;
                text-align: left;
            }


.box2 {
    padding: 100px 0 60px;
    background: #F5F5F5;
}
    .container {
        width: 1170px;
        margin: 0 auto;
        position: relative;
    }
    .price-choose {
        display: inline-block;
        height: 40px;
        border: 2px solid #333;
        font-size: 20px;
        line-height: 40px;
        font-weight: 700;
        padding: 0 50px;
        color: #333;
        background-color: #fff;
        text-transform: uppercase;
    }
    .box2 .in-box2 {
        position: relative;
        margin-top: 80px;
    }
        .choose {
            position: relative;
            padding: 0 150px;
            float: left;
            background-color: #fff;
        }
            .choose ul {
                width: 25%;
                margin: 20px 0 35px;
                float: left;
            }
            .choose ul li {
                padding-top: 0;
                list-style: none;
                padding: 0 80px;
                display: inline-block;

            }
            .choose ul li a {
                color: #000;
                font-weight: 300;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                width: 135px;
            }
            .choose ul li a:hover {
                color: #0098d1;
                text-decoration: none;
            }
            .choose img {
                margin-right: 10px;
                max-height: 24px;
                border: 0;
                display: inline-block;
                vertical-align: middle;
            }


.box3 {
    padding: 20px 0;
}
        .box3 h2 {
            font-weight: 300;
            margin-bottom: 30px;
            color: #343434;
            font-size: 34px;
        }
        .box3 p {
            font-weight: 300;
            color: #000;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 1.25rem;
        }
.trusted p {
    margin: 10px 0;
    text-align: center;
}
.trusted h2 {
    text-align: center;
    font-size: 45px;
}
.partner {
    margin-left: 1.25rem;
    margin-bottom: 0;
    list-style: none;
    text-align: center !important;
}
    .item {
        padding-top: 0 9375rem;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 100px;
        line-height: 100px;
        float: left;
        width: 25%;
    }
    .used-link {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 19px;
        color: #343434;
        font-weight: 300;
    }
    .used-link a {
        color: #0098d1;
    }
    .partner .used-link a:hover {
      color: orange;
      text-decoration: underline;
    }


#footer {
    background: #000;
    color: #fff;
}
    #footer a {
        color: #fff;
    }

    #footer .footer-top {
        margin-bottom: 20px;
        margin-top: 20px;
    }
        .col {
            width: 33.33333333%;
            float: left;
        }
    .social {
        display: inline-block;
    }
    #footer .col dd {
        font-size: 13px;
        line-height: 2;
        margin : 0 0 0 10px;
        color: #fff;
    }
    #footer .col dd img {
        text-align: center;
        height: auto;
        border: 0;
    }
    #footer .col a:hover{
        color: orange;
    }

/* ------------------------------------------------------------------------ */

.post {
    margin-top: 100px;
    min-height: 480px;
}
.search-filter-list li ul li ul li{
    width: 100px;
    margin: 5px 10px;
}
.search-filter-list li ul li ul li a {
    text-align: center;
    margin: 10px 30px;
}
.search ul {
    list-style: none;
    margin: 0;
}
.search ul li{
    width: auto;
    margin: 20px 0;
    max-width: none;
    display: block;
}
.search ul li a {
    margin-left: 30px;
    color: #000;
    line-height: inherit;
    background: transparent;
    display: block;
}
.search ul li a:hover {
    color: #0098d1;
    text-decoration: none;
}
.search figure {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #343434;
    display: block;
    text-align: center;

}
.search ul li a figcaption {
    font-size: 14px;
    font-weight: 400;
    color: #343434;
    display: block;
    text-align: center;
}
.search ul li a figcaption:hover {
    color: #0098d1;
}
.search img {
    height: 59px;
    width: 115px;
}
.search .search-filter-list {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    min-height: 520px;
}
.search .image-produc {
    max-width: 100%;
}
    .search .image-product ul li {
        font-weight: 300;
        font-size: 18px;
        color: #000;
        line-height: 1.17;
        text-align: justify;
        display: inline-block;
    }
    .search .image-product h1 {
        font-size: 30px;
    }
.breadcrumbs {
    display: block;
    padding: 50px 0 0 6%;
    color: #343434;
    background: transparent;
    font-weight: bold;
    font-size: 27px;
    padding: 40px 0 0;
}
/* ------------------------------------post ---------------------- */
.post-single {
    box-shadow: 1px 2px 3px 2px rgba(102, 102, 102, 0.5);
    padding: 20px 10px;
    margin: 30px 20px;
}
.post-single .cate_name {
    font-size: 14px;
    color: #B93939;
}
.post-single .read-more {
    color: #B4B0B0;
}
.post-single .post-title a {
    font-size: 18px;
}
.post-single .post-img img {
    text-align: center;
    width: 100%;
    height: 180px
}
.post-single .author a {
    margin: 10px 0;
    color:#7C4C4C;
    font-size: 13px;
}
.post-single .tags {
    color: #004AFF;
    text-decoration: underline;
}
.post-single ul li{
    list-style: none;
}
.mg {
    margin: 20px 0;
}

/* ----------------------------------------details post--------------------------------------- */
.detail-post .img-details-post img {
    width: 500px;
    margin: 30px;
}
.detail-post .created-at {
    color:#7c4c4c;
}
.detail-post h1 {
    color: #717882;
}
.summary {
    font-style: italic;
}
.content {
    font-size: 14px;
    margin: 30px;
}

/* ------------------------------ details car ---------------------- */
.card {
    border: 1px dashed rgb(201, 201, 201);
    width: 100%;
}
.card-content {
    align-items: center;
    text-align: center;
}
.details_product img {
    width: 500px;
}
.details_product > p {
    font-size: 22px;
}
.feature {
    padding: 30px 0 40px 0;
}
.feature p {
    text-align: justify;
    font-size: 13px;
    margin-left: 20px;
}
.seller_note p {
    text-align: justify;
    font-size: 13px;
    margin-left: 20px;
    padding-bottom: 50px;
}
.vehicle {
    margin: 20px 0;
    padding: 10px 10px;
}
.vehicle h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.vehicle p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}
.vehicle h5{
    text-align: center;
}
.vehicle-item {
    padding: 30px 10px;
}
.view-details p{
    margin-top: 30px;
    font-size: 30px;
    color: orange;
}
.view-details .compare {
    margin-top: 10px;
}
.vehicle-compare {
    border: 1px solid #ddd;
    box-shadow: 0 3px 2px rgba(102, 102, 102, 0.5);
    padding: 0 5px;
    margin: 30px 5px;
    min-height: 400px;
    min-width: 350px;
}
.vehicle-compare h3 {
    text-align: center;
    color: #00B2BF;
    background: #ccc;
    padding: 7px 0;
    font-weight: bold;  
}
.scroll {
    overflow: scroll;
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 5px 5px;
}
.scroll li {
    padding: 3px 0;
}
.compare-result {
    border: 1px solid #ddd;
    box-shadow: 0 3px 2px rgba(102, 102, 102, 0.5);
    padding: 0 5px;
    margin: 20px 5px;
    min-width: 350px;
    min-height: 120px;
    height: auto;
}
.compare-result h4 {
    text-align: center;
    color: #999966;
    padding: 1px 0;
    font-weight: bold;
}
.compare-result p {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}
.compare-result i {
    margin-left: 10px;
}
.compare-result button {
    margin-left: 10px;
}
.compare-result .itemselect {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 18px;
}
.compare-result .itemselect .item {
    width: 98%;
    height: auto;
    float: left;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.compare-result .itemselect .item .delete-car {
    width: 25px;
    float: left;
    min-height: 60px;
    display: inline-block;
}
.compare-result .itemselect .item .avatar-car {
    width: 80px;
    height: 60px;
    float: left;
}
.compare-result .itemselect .item .avatar-car img {
    width: 150px;
}
.compare-result .itemselect .item .info-car {
    width: 130px;
    margin-left: 80px;
    height: auto;
    float: left;
    display: inline: block;
}
.compare-result .itemselect .item .info-car .name {
    font-size: 14px;
    color: #1260ab;
    float: left;
    width: 130px;
}

/* --------------------------used car for sale------------------------ */

.menu-item {
    margin: 5px 0px;
}
.menu-item ul {
    position: relative;
    list-style: none;
    float: left;
    line-height: 1.4;
    padding-left: 27px;
    margin-right: 5px;
    column-count: 7;
    padding-top: 20px;
    white-space: nowrap;
    font-size: 16px;
}
.menu-item ul li {
    display: list-item !important;
    line-height: 1.6;
}
.menu-item ul li h4 {
    font-weight: bold;
}
.menu-item ul li ul li {
    display: inline-block;
}
.menu-item ul ul {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    box-shadow: 0 3px 2px rgba(102, 102, 102, 0.5);
}
.menu-item ul li:hover > ul {
    display: block;
}
.search-box {
    margin: 20px 0;
}
.search-list {
    width: 100%;
}

/* -------------------------------------search products---------------------- */
.advertisement img {
    position: fixed;
    top: 237px;
    right: 20px;
    width: 400px;
    height: 300px;
}

.products {
    border: 1px solid #ddd;
    box-shadow: 0 3px 2px rgba(102, 102, 102, 0.5);
    padding: 5px 5px;
    margin: 30px 5px;
}
.products img {
    width: 240px;
    margin-top: 30px;
}

/*--------------------------------------promo----------------------------------*/
.promo {
    list-style-type: none;
    padding: 0;
}
.promo .inner {
    background-image: url('../images/products/background.jpeg');
    height: 370px;
    padding: 15px;
    padding: 20px 20px;
    margin: 20px 0;
}
/* -----------------------------------------compare-details-------------------------------- */
.pro-left {
    width: 200px;
    float: left;
}
.property-fly {
    height: auto;
    float: left;
    overflow: hidden;
}
.property-fly .height-img {
    height: 109px;
    text-align: center;
}
.property-fly .height-img button {
    margin-top: 10px;
}
.contentscroll {
    margin-left: 100px;
}
.contentscroll .content-header {
    width: auto;
    float: left;
    overflow: hidden;
}
.contentscroll .content-item {
    float: left;
    width: 200px;
    height: auto;
    overflow: auto;
}
.autocompare-item {
    float: left;
    text-align: center;
    z-index: 9999
}
.autocompare-item img {
    width: 150px;
    text-align: center;
}
.height-th {
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.height-th-left {
    height: 40px;
    text-align: left;
    line-height: 40px;
}
